.card-text {
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.card-text-minimized {
	white-space: pre
}
.card-text-expanded {
	white-space: normal
}
.card-title {
	font-size: 16px;
	overflow: hidden;
}
.badge-purple {
	background-color: #5203fc;
	color: #ffffff;
}
