

.scrolling-wrapper {

	margin-top: 2em;
	height: 35%;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	background-color: yellow;

	transform: translate(-50%, -50%);

	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;

}

.scrolling-wrapper>* {
	flex: 0 0 auto;
	width: 20% !important;
	height: 300px !important;
	margin-right: 1px;
	padding-bottom: 50px !important;
}

.dashboard {
	position: absolute;
	top: 20vw;
	left: 40vw;
	width: 55%;

	z-index: 0;
}
