/*======== START CSS for Register ===========*/
.pageWrapper{
    position: absolute;
    top: 8vw;
    left: 36vw;
    height: 32vw;
    width: 27vw;
    background-color: rgba(12, 139, 212, 0.3);
    border-radius: 10px;
    z-index: 4;
    opacity: 1;
}

.pageWrapper::before{
    content:"";
    background-image: url('../../imgs/bgi.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

    border-radius: 10px;
}

/*======== END CSS for Register ===========*/

/*======== START CSS for UserInfo ===========*/
#profileWrapper{
    position: absolute;
    top: 4vw;
    left: 0;
    width: 100vw;
    height: calc(100vh - 4vw);
}

/*======== END CSS for UserInfo ===========*/



/*======== START CSS for Setting ==========*/

#settingWrapper{
    width: 100vw;
    height: 120vh;
    position: absolute;
    top: 4vw;
    left: 0;
}

input[type="file"] {
    display: none;
}

/*======== END CSS for Setting ==== */
