.scrolling-wrapper {
	height: 35%;
	width: 100%;
	margin-top: 5vw;
	position: relative;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;

}

.scrolling-wrapper>* {
	flex: 0 0 auto;
	width: 20% !important;
	height: 300px !important;
	margin-right: 1px;
	padding-bottom: 50px !important;
}

.dashboard {
	position: absolute;
	top: 16vw;
	left: 40vw;
	width: 55%;
	z-index: 0;
}
.wrapper-title {
	z-index: 0;
	bottom: 8vw;
	position: relative;
	font-weight: bold;
}
.dashboard-show {
	animation: show 2s forwards;
}
.dashboard-hide {
	animation: hide 0.3s forwards;
}
@keyframes show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes hide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
