.profile-block {
	position: fixed;
	left: 0vw;
	top: 7vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 93vh;
	width: 35vw;
}

.profile-UserInfo {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.profile-page {
	width: 100%;
	height: 0;
}
